{% extends "base.tmpl" %}

{% block title %}Riddle System{% end %}

{% block jumbotron %}
  <h1>Game Over</h1>
    <p>Congratulations! You finished the game.</p>
    <p>Now, share it with your friends and see if they are able to do the same.</p>
    <p><a href="https://www.facebook.com/sharer.php?u=http://dplsubmit.cs.uwec.edu:9550/t=Riddle System" target="_blank" class="btn btn-primary btn-lg">Share on Facebook</a></p>

{% end %}
