{% extends "base.tmpl" %}

{% block title %}Riddle System{% end %}

{% block jumbotron %}
  <h1>The Game</h1>
    <p>This is a place to insert some description so you can read before clicking the following button.</p>
      <p><a href="/level/" class="btn btn-primary btn-lg">Start Game</a></p>

{% end %}
